@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.search-wrapper {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 20px;
  box-shadow: 0 0 200px 50px rgba(255, 255, 255, 0.045);
  transition: all .2s ease-in-out;
}


.search-wrapper:hover {
  transform: scale(1.05);
}

.input-box::placeholder {
  font-family: 'Michroma', sans-serif;
  font-size: 15px;
}

.input-box {
  flex: 1;
  border: 0;
  background: transparent;
  outline: none;
  padding: 8px 10px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-position 1s;
}

.table-display {
  color: white;
  padding-bottom: 160px;
}

.title {
  padding-top: 30px;
  color: white;
  max-width: 700px;
}

body {
  background-color: #212121;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}