@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  max-width: 100vw;
  font-family: 'Michroma', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Michroma', sans-serif;
}